.titles {
    font-size: x-large;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
}

.mainList {
    background-color: #4ac1b1;
    color: white;
}

.essentials {
    background-color: darkorange;
    color: white;
}

.wants {
    background-color: #ae45a7;
    color: white;
}

.needs {
    background-color: #5fc950;
    color: white;
}

.dinners {
    background-color: #f51f11;
    color: white;
}

.shoppingList {
    background-color: #4e54c2;
    color: white;
}

.listItems {
    font-size: large;
    font-weight: bold;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: grey;
    padding-top: 5px;
    height: 40px;
}

.center {
    padding-top: 0px;
}

.backChevron {
    padding-left: 10px;
}

.addItemButton {
    color: white;
    background-color: #00b600;
}
